*.iml
*.log
*.gz
*.tar
*.zip
*.swp
*.classpath
*.project
*.properties
*.dex
*.class
*.aux
*.lof
*.out
*.toc

bin/
gen/
node_modules/
.idea/
.gradle/
.classpath/
build/
.settings/
backend/server/uploads/*.jpg
backend/server/venueUploads/*.jpg

local.properties
deploy_key
.DS_Store
